.button:disabled {
    background-color: #ffffff;
    cursor: not-allowed;
    transition-duration: 4s;
}

.resultApi{
    font-size: small;
    width: fit-content;
}

.WarApiDiv{
    width: fit-content;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}