/* Style the navigation menu */
.navbar {
    background-color: #555;
    overflow: auto;
    position: fixed;
    top: 0; 
    width: 100%;
    align-self: center
}

/* Navigation links */
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 33%;
    /* 100/n  */
    text-align: center;
}

/* Add a background color on mouse-over */
.navbar a:hover {
    background-color: #000;
}

/* Style the current/active link */
.navbar a.active {
    background-color: #04AA6D;
}

/* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */
@media screen and (max-width: 500px) {
    .navbar {
        position: relative;
    }
    .navbar a {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        /* If you want the text to be left-aligned on small screens */
    }
}